<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>SS-Auth | 404 Not Found</title>
</head>
<body>
    <div class="vertical-ctn">
        <div class="horizontal-ctn">
            <div class="e404-contents">

                <div class='error-code'>Error 404</div>
                <div class="error-msg">Page could not be found.</div>     
                 
                <div class="links">
                        <a class="login-lnk" href="/login">login </a>
                        <a class="register-lnk" href="/register">register </a>
                </div>

            </div>
        </div>
    </div>
</body>
</html>