<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>SS-Auth | Bad Origin</title>
</head>
<body>
    <div class="vertical-ctn">
        <div class="horizontal-ctn">
            <div class="badOrigin-contents">

                <div class='error-code'>Bad Origin</div>
                <div class="error-msg badOrigin-msg">Please use Firefox, Chrome, Safari or.. to connect to this website.</div>     
                 
            </div>
        </div>
    </div>
</body>
</html>