<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>SS-Auth | Dashboard</title>
</head>
<body>
    <div class="dash-V-ctn">
        <div class="dash-H-ctn">
            <div class="dashboard-contents">
                <div class="title">Hi <%= nickname %></div>
                
                <div class="text">Untill there is some more interesting contents on this website, 
                    here's a little reward for subscribing.<br>
                    My very first JavaScript app, have fun!
                </div>
                
                <div class="item">
                    <a href="https://jlf-webdev.github.io/GOL" target="_blank">
                        <img src="/public/img/gol.jpg" alt="Game Of Life">
                    </a>
                    <a class='item-desc' href="https://jlf-webdev.github.io/GOL" target="_blank">
                        Conway's Game Of Life
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>