<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/dashboard.css" type="text/css">
    <title>SS-Auth | Dashboard</title>
</head>
<body>
    <div class="vertical-layout">
        <div class="dash-contents">
            <div class="title">Hi <%= nickname %></div>
            
            <div class="text"><p>Here are some of the apps I wrote for fun.</p>
            </div>
            
            <div class="work">
                <div class="item">
                    <a href="https://jlf-webdev.github.io/GOL" target="_blank">
                        <img src="/public/img/gol.jpg" alt="Game Of Life">
                    </a>
                    <a class='item-desc' href="https://jlf-webdev.github.io/GOL" target="_blank">
                        Conway's Game Of Life
                    </a>
                </div>
                <div class="item">
                    <a href="https://jlf-webdev.github.io/GOL" target="_blank">
                        <img src="/public/img/gol.jpg" alt="Game Of Life">
                    </a>
                    <a class='item-desc' href="https://jlf-webdev.github.io/GOL" target="_blank">
                        Conway's Game Of Life
                    </a>
                </div>
                <div class="item">
                    <a href="https://jlf-webdev.github.io/GOL" target="_blank">
                        <img src="/public/img/gol.jpg" alt="Game Of Life">
                    </a>
                    <a class='item-desc' href="https://jlf-webdev.github.io/GOL" target="_blank">
                        Conway's Game Of Life
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>