<!DOCTYPE html>
<html>
    <head>
        <title>SS-Auth | Index</title>
    </head>
    <body>
        <h3><div>Hi,</div>
            <div>this website was built to get a better understanding of authentication, 
                    session management and password storage processes.</div>
            <div><span>Warning !</span> Using the same password on multiple places is a security hazard, Please
                use a unique password !</div>      
        </h3>
        <h4>Please <a href="/login">login </a>or <a href="/register">register </a> to continue.</h4>
    </body>
</html>