<!DOCTYPE html>
<html>
    <head>
        <title>SS-Auth | Index</title>
    </head>
    <body>
        <h2>Welcome !</h2>
        <h4>Please <a href="/login">login </a>or <a href="/register">register </a> to continue.</h4>
    </body>
</html>